<a href="https://colab.research.google.com/github/wzlwlj/python_study/blob/main/python_compare_two_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
### example of comparing two CSV files and print the difference

### create two example csv files
import pandas as pd

data1 = pd.DataFrame({'x1':range(0, 6),             
                      'x2':['x', 'y', 'x', 'x', 'y', 'x'],
                      'x3':range(2, 8)})
print(data1)       

data2 = pd.DataFrame({'x1':range(3, 8),             
                      'x2':['x', 'x', 'x', 'y', 'y'],
                      'x3':range(5, 10)})
print(data2)        

data1.to_csv('data1.csv', index = False)       
data2.to_csv('data2.csv', index = False)

   x1 x2  x3
0   0  x   2
1   1  y   3
2   2  x   4
3   3  x   5
4   4  y   6
5   5  x   7
   x1 x2  x3
0   3  x   5
1   4  x   6
2   5  x   7
3   6  y   8
4   7  y   9

In [17]:
### import two csv files

with open('data1.csv', 'r') as csv1, open('data2.csv', 'r') as csv2:  
    import1 = csv1.readlines()
    import2 = csv2.readlines()

print(import1)
print(import2)

['x1,x2,x3\n', '0,x,2\n', '1,y,3\n', '2,x,4\n', '3,x,5\n', '4,y,6\n', '5,x,7\n']
['x1,x2,x3\n', '3,x,5\n', '4,x,6\n', '5,x,7\n', '6,y,8\n', '7,y,9\n']

In [19]:
### compare two csv file and print difference
with open('data_diff.csv', 'w') as outFile: 
    for row in import2:
        if row not in import1:
            outFile.write(row)
            print(row)

4,x,6

6,y,8

7,y,9

In [20]:
### 
out = pd.read_csv('data_diff.csv', header=None)
print(out)

   0  1  2
0  4  x  6
1  6  y  8
2  7  y  9

In [21]:
import os
# dir_name = "/content/drive/mydrive/colabe notebooks/bcbsnc"
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [28]:
# read a file
dir_name = "/content/drive/MyDrive/Colab Notebooks/BCBSNC/Teradata"
# dir_name = "/content/drive/MyDrive/Colab"
print(os.listdir(dir_name))

['zillow.csv', 'homes.csv', 'cities.csv', 'biostats.csv']

In [64]:
### BCBSNC validation sample

#import os
dir_name_teradata = "/content/drive/MyDrive/Colab Notebooks/BCBSNC/Teradata"
dir_name_snowflake = "/content/drive/MyDrive/Colab Notebooks/BCBSNC/Snowflake"
dir_name_output = "/content/drive/MyDrive/Colab Notebooks/BCBSNC/output"

df_valid = pd.DataFrame()

# specifying an empty list for content
content_teradata = []
for file in os.listdir(dir_name_teradata):
  # print(dir_name_teradata+'/'+file)
  df_teradata = pd.read_csv(dir_name_teradata+'/'+file)
  #print(df_teradata)
  df_snowflake = pd.read_csv(dir_name_snowflake+'/'+file)
  #print(df_snowflake)

  ## compare the same data from the runs of teradata and snowflake
  # check row number 
  nrow_teradata = df_teradata.shape[0]
  print(nrow_teradata)
  nrow_snowflake = df_snowflake.shape[0]
  print(nrow_snowflake)
  # check col number
  ncol_teradata = df_teradata.shape[1]
  print(ncol_teradata)
  ncol_snowflake = df_snowflake.shape[1]
  print(ncol_snowflake)
  # check col name
  col_name_teradata = df_teradata.columns.values.tolist()
  print(col_name_teradata)
  col_name_snowflake = df_snowflake.columns.values.tolist()
  print(col_name_snowflake)

  validate_snowflake = 'Pass'
  if (nrow_teradata != nrow_snowflake or ncol_teradata != ncol_snowflake or col_name_teradata != col_name_snowflake):
    validate_snowflake = 'Fail'

  item_compare = (['file', 'input', 'row number', 'col number', 'col names', 'validataion'])
  # print(item_compare)
  item_teradata = ([file,'teradata', nrow_teradata,ncol_teradata,col_name_teradata,''])
  item_snowflake = ([file,'snowflake', nrow_snowflake,ncol_snowflake,col_name_snowflake, validate_snowflake])
  output = pd.DataFrame([item_compare, item_teradata, item_snowflake])
  print(output)
  df_valid = pd.concat([df_valid, output], ignore_index=True)
  print(df_valid)


df_valid.to_csv(dir_name_output+'/validation.csv')

20
20
7
7
['Index', ' "Living Space (sq ft)"', ' "Beds"', ' "Baths"', ' "Zip"', ' "Year"', ' "List Price ($)"']
['Index', ' "Living Space"', ' "Beds"', ' "Baths"', ' "Zip"', ' "Year"', ' "List Price ($)"']
            0          1           2           3  \
0        file      input  row number  col number
1  zillow.csv   teradata          20           7
2  zillow.csv  snowflake          20           7

                                                   4            5
0                                          col names  validataion
1  [Index,  "Living Space (sq ft)",  "Beds",  "Ba...
2  [Index,  "Living Space",  "Beds",  "Baths",  "...         Fail
            0          1           2           3  \
0        file      input  row number  col number
1  zillow.csv   teradata          20           7
2  zillow.csv  snowflake          20           7

                                                   4            5
0                                          col names  validataion
1  [Index,  "Living Space (sq ft)",  "Beds",  "Ba...
2  [Index,  "Living Space",  "Beds",  "Baths",  "...         Fail
50
50
9
9
['Sell', ' "List"', ' "Living"', ' "Rooms"', ' "Beds"', ' "Baths"', ' "Age"', ' "Acres"', ' "Taxes"']
['Sell', ' "List"', ' "Living"', ' "Rooms"', ' "Beds"', ' "Baths"', ' "Age"', ' "Acres"', ' "Taxes"']
           0          1           2           3  \
0       file      input  row number  col number
1  homes.csv   teradata          50           9
2  homes.csv  snowflake          50           9

                                                   4            5
0                                          col names  validataion
1  [Sell,  "List",  "Living",  "Rooms",  "Beds", ...
2  [Sell,  "List",  "Living",  "Rooms",  "Beds", ...         Pass
            0          1           2           3  \
0        file      input  row number  col number
1  zillow.csv   teradata          20           7
2  zillow.csv  snowflake          20           7
3        file      input  row number  col number
4   homes.csv   teradata          50           9
5   homes.csv  snowflake          50           9

                                                   4            5
0                                          col names  validataion
1  [Index,  "Living Space (sq ft)",  "Beds",  "Ba...
2  [Index,  "Living Space",  "Beds",  "Baths",  "...         Fail
3                                          col names  validataion
4  [Sell,  "List",  "Living",  "Rooms",  "Beds", ...
5  [Sell,  "List",  "Living",  "Rooms",  "Beds", ...         Pass
128
126
10
10
['LatD', ' "LatM"', ' "LatS"', ' "NS"', ' "LonD"', ' "LonM"', ' "LonS"', ' "EW"', ' "City"', ' "State"']
['LatD', ' "LatM"', ' "LatS"', ' "NS"', ' "LonD"', ' "LonM"', ' "LonS"', ' "EW"', ' "City"', ' "State"']
            0          1           2           3  \
0        file      input  row number  col number
1  cities.csv   teradata         128          10
2  cities.csv  snowflake         126          10

                                                   4            5
0                                          col names  validataion
1  [LatD,  "LatM",  "LatS",  "NS",  "LonD",  "Lon...
2  [LatD,  "LatM",  "LatS",  "NS",  "LonD",  "Lon...         Fail
            0          1           2           3  \
0        file      input  row number  col number
1  zillow.csv   teradata          20           7
2  zillow.csv  snowflake          20           7
3        file      input  row number  col number
4   homes.csv   teradata          50           9
5   homes.csv  snowflake          50           9
6        file      input  row number  col number
7  cities.csv   teradata         128          10
8  cities.csv  snowflake         126          10

                                                   4            5
0                                          col names  validataion
1  [Index,  "Living Space (sq ft)",  "Beds",  "Ba...
2  [Index,  "Living Space",  "Beds",  "Baths",  "...         Fail
3                                          col names  validataion
4  [Sell,  "List",  "Living",  "Rooms",  "Beds", ...
5  [Sell,  "List",  "Living",  "Rooms",  "Beds", ...         Pass
6                                          col names  validataion
7  [LatD,  "LatM",  "LatS",  "NS",  "LonD",  "Lon...
8  [LatD,  "LatM",  "LatS",  "NS",  "LonD",  "Lon...         Fail
18
18
5
4
['Name', '     "Sex"', ' "Age"', ' "Height (in)"', ' "Weight (lbs)"']
['Name', ' "Age"', ' "Height (in)"', ' "Weight (lbs)"']
              0          1           2           3  \
0          file      input  row number  col number
1  biostats.csv   teradata          18           5
2  biostats.csv  snowflake          18           4

                                                   4            5
0                                          col names  validataion
1  [Name,      "Sex",  "Age",  "Height (in)",  "W...
2    [Name,  "Age",  "Height (in)",  "Weight (lbs)"]         Fail
               0          1           2           3  \
0           file      input  row number  col number
1     zillow.csv   teradata          20           7
2     zillow.csv  snowflake          20           7
3           file      input  row number  col number
4      homes.csv   teradata          50           9
5      homes.csv  snowflake          50           9
6           file      input  row number  col number
7     cities.csv   teradata         128          10
8     cities.csv  snowflake         126          10
9           file      input  row number  col number
10  biostats.csv   teradata          18           5
11  biostats.csv  snowflake          18           4

                                                    4            5
0                                           col names  validataion
1   [Index,  "Living Space (sq ft)",  "Beds",  "Ba...
2   [Index,  "Living Space",  "Beds",  "Baths",  "...         Fail
3                                           col names  validataion
4   [Sell,  "List",  "Living",  "Rooms",  "Beds", ...
5   [Sell,  "List",  "Living",  "Rooms",  "Beds", ...         Pass
6                                           col names  validataion
7   [LatD,  "LatM",  "LatS",  "NS",  "LonD",  "Lon...
8   [LatD,  "LatM",  "LatS",  "NS",  "LonD",  "Lon...         Fail
9                                           col names  validataion
10  [Name,      "Sex",  "Age",  "Height (in)",  "W...
11    [Name,  "Age",  "Height (in)",  "Weight (lbs)"]         Fail

# New Section