<a href="https://colab.research.google.com/github/wzlwlj/python_study/blob/main/test_excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np
import os
# dir_name = "/content/drive/mydrive/colabe notebooks/bcbsnc"
from google.colab import drive
drive.mount('/content/drive')

# read a file
dir_name = "/content/drive/MyDrive/Colab Notebooks/BCBSNC/file"
print(os.listdir(dir_name))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
['test_TD.xlsx', 'test_SF.xlsx']

In [14]:
test_td = pd.ExcelFile(dir_name + '/' + 'test_TD.xlsx')
# print(test_td)
test_td.sheet_names

test_td_sheet1 = pd.read_excel(dir_name + '/' + 'test_TD.xlsx', test_td.sheet_names[0])
test_td_sheet2 = pd.read_excel(dir_name + '/' + 'test_TD.xlsx', test_td.sheet_names[1])
print(test_td_sheet1)
print(test_td_sheet2)

test_sf_sheet1 = pd.read_excel(dir_name + '/' + 'test_SF.xlsx', test_td.sheet_names[0])
test_sf_sheet2 = pd.read_excel(dir_name + '/' + 'test_SF.xlsx', test_td.sheet_names[1])
print(test_sf_sheet1)
print(test_sf_sheet2)

    Name       "Sex"   "Age"   "Height (in)"   "Weight (lbs)"
0   Alex         "M"      41              74              170
1   Bert         "M"      42              68              166
2   Carl         "M"      32              70              155
3   Dave         "M"      39              72              167
4   Elly         "F"      30              66              124
5   Fran         "F"      33              66              115
6   Gwen         "F"      26              64              121
7   Hank         "M"      30              71              158
8   Ivan         "M"      53              72              175
9   Jake         "M"      32              69              143
10  Kate         "F"      47              69              139
11  Luke         "M"      34              72              163
12  Myra         "F"      23              62               98
13  Neil         "M"      36              75              160
14  Omar         "M"      38              70              145
15  Page         "F"      31              67              135
16  Quin         "M"      29              71              176
17  Ruth         "F"      28              65              131
     LatD   "LatM"   "LatS"  "NS"   "LonD"   "LonM"   "LonS"  "EW"  \
0      41        5       59   "N"       80       39        0   "W"
1      42       52       48   "N"       97       23       23   "W"
2      46       35       59   "N"      120       30       36   "W"
3      42       16       12   "N"       71       48        0   "W"
4      43       37       48   "N"       89       46       11   "W"
..    ...      ...      ...   ...      ...      ...      ...   ...
123    39       31       12   "N"      119       48       35   "W"
124    50       25       11   "N"      104       39        0   "W"
125    40       10       48   "N"      122       14       23   "W"
126    40       19       48   "N"       75       55       48   "W"
127    41        9       35   "N"       81       14       23   "W"

                 "City"  "State"
0          "Youngstown"       OH
1             "Yankton"       SD
2              "Yakima"       WA
3           "Worcester"       MA
4     "Wisconsin Dells"       WI
..                  ...      ...
123              "Reno"       NV
124            "Regina"       SA
125         "Red Bluff"       CA
126           "Reading"       PA
127           "Ravenna"      OH

[128 rows x 10 columns]
    Name   "Age"   "Height (in)"   "Weight (lbs)"
0   Alex      41              74              170
1   Bert      42              68              166
2   Carl      32              70              155
3   Dave      39              72              167
4   Elly      30              66              124
5   Fran      33              66              115
6   Gwen      26              64              121
7   Hank      30              71              158
8   Ivan      53              72              175
9   Jake      32              69              143
10  Kate      47              69              139
11  Luke      34              72              163
12  Myra      23              62               98
13  Neil      36              75              160
14  Omar      38              70              145
15  Page      31              67              135
16  Quin      29              71              176
17  Ruth      28              65              131
     LatD   "LatM"   "LatS"  "NS"   "LonD"   "LonM"   "LonS"  "EW"  \
0      41        5       59   "N"       80       39        0   "W"
1      42       52       48   "N"       97       23       23   "W"
2      46       35       59   "N"      120       30       36   "W"
3      42       16       12   "N"       71       48        0   "W"
4      43       37       48   "N"       89       46       11   "W"
..    ...      ...      ...   ...      ...      ...      ...   ...
121    39       31       12   "N"      119       48       35   "W"
122    50       25       11   "N"      104       39        0   "W"
123    40       10       48   "N"      122       14       23   "W"
124    40       19       48   "N"       75       55       48   "W"
125    41        9       35   "N"       81       14       23   "W"

                 "City"  "State"
0          "Youngstown"       OH
1             "Yankton"       SD
2              "Yakima"       WA
3           "Worcester"       MA
4     "Wisconsin Dells"       WI
..                  ...      ...
121              "Reno"       NV
122            "Regina"       SA
123         "Red Bluff"       CA
124           "Reading"       PA
125           "Ravenna"      OH

[126 rows x 10 columns]

In [7]:
dir_name_output = "/content/drive/MyDrive/Colab Notebooks/BCBSNC/output"

df_valid = pd.DataFrame()

# specifying an empty list for content
content_teradata = []
for file in test_td.sheet_names:
  # print(dir_name_teradata+'/'+file)
  df_teradata = pd.read_excel(dir_name + '/' + 'test_TD.xlsx', file)
  #print(df_teradata)
  df_snowflake = pd.read_excel(dir_name + '/' + 'test_SF.xlsx', file)
  #print(df_snowflake)

  ## compare the same data from the runs of teradata and snowflake
  # check row number 
  nrow_teradata = df_teradata.shape[0]
  print(nrow_teradata)
  nrow_snowflake = df_snowflake.shape[0]
  print(nrow_snowflake)
  # check col number
  ncol_teradata = df_teradata.shape[1]
  print(ncol_teradata)
  ncol_snowflake = df_snowflake.shape[1]
  print(ncol_snowflake)
  # check col name
  col_name_teradata = df_teradata.columns.values.tolist()
  print(col_name_teradata)
  col_name_snowflake = df_snowflake.columns.values.tolist()
  print(col_name_snowflake)

  validate_snowflake = 'Pass'
  if (nrow_teradata != nrow_snowflake or ncol_teradata != ncol_snowflake or col_name_teradata != col_name_snowflake):
    validate_snowflake = 'Fail'

  item_compare = (['file', 'input', 'row number', 'col number', 'col names', 'validataion'])
  # print(item_compare)
  item_teradata = ([file,'teradata', nrow_teradata,ncol_teradata,col_name_teradata,''])
  item_snowflake = ([file,'snowflake', nrow_snowflake,ncol_snowflake,col_name_snowflake, validate_snowflake])
  output = pd.DataFrame([item_compare, item_teradata, item_snowflake])
  print(output)
  df_valid = pd.concat([df_valid, output], ignore_index=True)
  print(df_valid)


df_valid.to_excel(dir_name_output+'/validation.xlsx')

18
18
5
4
['Name', '     "Sex"', ' "Age"', ' "Height (in)"', ' "Weight (lbs)"']
['Name', ' "Age"', ' "Height (in)"', ' "Weight (lbs)"']
          0          1           2           3  \
0      file      input  row number  col number
1  biostats   teradata          18           5
2  biostats  snowflake          18           4

                                                   4            5
0                                          col names  validataion
1  [Name,      "Sex",  "Age",  "Height (in)",  "W...
2    [Name,  "Age",  "Height (in)",  "Weight (lbs)"]         Fail
          0          1           2           3  \
0      file      input  row number  col number
1  biostats   teradata          18           5
2  biostats  snowflake          18           4

                                                   4            5
0                                          col names  validataion
1  [Name,      "Sex",  "Age",  "Height (in)",  "W...
2    [Name,  "Age",  "Height (in)",  "Weight (lbs)"]         Fail
128
126
10
10
['LatD', ' "LatM"', ' "LatS"', ' "NS"', ' "LonD"', ' "LonM"', ' "LonS"', ' "EW"', ' "City"', ' "State"']
['LatD', ' "LatM"', ' "LatS"', ' "NS"', ' "LonD"', ' "LonM"', ' "LonS"', ' "EW"', ' "City"', ' "State"']
        0          1           2           3  \
0    file      input  row number  col number
1  cities   teradata         128          10
2  cities  snowflake         126          10

                                                   4            5
0                                          col names  validataion
1  [LatD,  "LatM",  "LatS",  "NS",  "LonD",  "Lon...
2  [LatD,  "LatM",  "LatS",  "NS",  "LonD",  "Lon...         Fail
          0          1           2           3  \
0      file      input  row number  col number
1  biostats   teradata          18           5
2  biostats  snowflake          18           4
3      file      input  row number  col number
4    cities   teradata         128          10
5    cities  snowflake         126          10

                                                   4            5
0                                          col names  validataion
1  [Name,      "Sex",  "Age",  "Height (in)",  "W...
2    [Name,  "Age",  "Height (in)",  "Weight (lbs)"]         Fail
3                                          col names  validataion
4  [LatD,  "LatM",  "LatS",  "NS",  "LonD",  "Lon...
5  [LatD,  "LatM",  "LatS",  "NS",  "LonD",  "Lon...         Fail

In [13]:
dir_name_output = "/content/drive/MyDrive/Colab Notebooks/BCBSNC/output"

df_valid = pd.DataFrame()

# specifying an empty list for content
content_teradata = []
for file in test_td.sheet_names[1]:
  # print(dir_name_teradata+'/'+file)
  df1 = pd.read_excel(dir_name + '/' + 'test_TD.xlsx', file)
  print(df1)
  df2 = pd.read_excel(dir_name + '/' + 'test_SF.xlsx', file)
  print(df2)

  ## compare shape and type
  df1.equals(df2)

  ## compare values
  comparison_values = df1.values == df2.values
  print (comparison_values)

  #rows,cols=np.where(comparison_values==False)
  #for item in zip(rows,cols):
  #  df1.iloc[item[0], item[1]] = '{} --> {}'.format(df1.iloc[item[0], item[1]],df2.iloc[item[0], item[1]])
  #print(df1)

ValueError: ignored